.nav-container {
	margin: 0 auto;
  width: 100%;
  padding-left: 2.9375rem;
  padding-right: 2.9375rem;
}

.container__full--left {
	padding-left: 0;
}


.section-test {
	padding: 0;
	margin: 0;
}

.container-test {
	padding: 0;
	margin: 0;
}

.padding__less--left {
	padding-left: 0;
}