/* Resets box sizing across all elements */
html {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin:0px;
  padding:0px;
}

div {
  display: block;
}

/* Standard 12 column grid */
.section__banner{
  padding: 60px 0px;
}

.section__button{
  padding: 0px 0px;
}

.section__lite {
  padding: 200px 0px;
  overflow: hidden; 
}

.container__lite {
  margin: 0 auto;
  width: 100%;
  padding-left: 0rem;
  padding-right: 0rem;
}

.container__lite::after {
  display: table;
  clear: both;
  content: "";
}

.container--inline {
  display: inline-grid;
}

.container__button{
    margin: 0 auto;
    width: 100%;
    padding-left: 4.9375rem;
    padding-right: 4.9375rem;
}

.container__img--right{
  padding-right: 0.9375rem;
}

.container__img--left{
  padding-left: 0.9375rem;
}

.container__content{
  padding-left: 5rem;
  padding-right: 6.5rem;
}

.row__lite {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.row__lite::after {
  display: table;
  clear: both;
  content: "";
}

.col {
  float: left;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

/*Makes all columns float left and have 100% width */
[class^="lite-"], [class*=" lite-"]{
  float: left;
  width: 100%;
  position: relative;
}

//xs
@media (min-width: 376px) {
  .container__lite{
    max-width: 414px;
  }
}

//small
@media (min-width: 544px) {
  .container__lite{
    max-width: 544px;
  }
}

@media (min-width: 741px) {
  .container__lite{
    max-width: 768px;
  }
}

//large
@media (min-width: 992px) {
  .container__lite{
    max-width: 1024px;
  }
}

//xl
@media (min-width: 1200px) {
  .container__lite{
    max-width: 1425px;
  }
}

/* Extra Small */
@media (min-width: 376px) {

  .lite-xs-1 {
    width: 8.33%;
  }

  .lite-xs-2 {
    width: 16.66%;
  }

  .lite-xs-3 {
    width: 24.99%;
  }

  .lite-xs-4 {
    width: 33.33%;
  }

  .lite-xs-5 {
    width: 41.66%;
  }

  .lite-xs-6 {
    width: 49.99%;
  }

  .lite-xs-7 {
    width: 58.33%;
  }

  .lite-xs-8 {
    width: 66.66%;
  }

  .lite-xs-9 {
    width: 74.99%;
  }

  .lite-xs-10 {
    width: 83.33%;
  }

  .lite-xs-11 {
    width: 91.66%
  }

  .lite-xs-12 {
    width: 100%;
  }

  .lite-xs-offset-1 {
    margin-left: 8.33%;
  }

  .lite-xs-offset-2 {
    margin-left: 16.66%;
  }

  .lite-xs-offset-3 {
    margin-left: 24.99%;
  }

  .lite-xs-offset-4 {
    margin-left: 33.33%;
  }

  .lite-xs-offset-5 {
    margin-left: 41.66%;
  }

  .lite-xs-offset-6 {
    margin-left: 49.99%;
  }

  .lite-xs-offset-7 {
    margin-left: 58.33%;
  }

  .lite-xs-offset-8 {
    margin-left: 66.66%;
  }

  .lite-xs-offset-9 {
    margin-left: 74.99%;
  }

  .lite-xs-offset-10 {
    margin-left: 83.33%;
  }

  .lite-xs-offset-11 {
    margin-left: 91.66%;
  }

  .lite-xs-offset-12 {
    margin-left: 100%;
  }
}

/* Small */
@media (min-width: 544px) {

  .lite-sm-1 {
    width: 8.33%;
  }

  .lite-sm-2 {
    width: 16.66%;
  }

  .lite-sm-3 {
    width: 24.99%;
  }

  .lite-sm-4 {
    width: 33.33%;
  }

  .lite-sm-5 {
    width: 41.66%;
  }

  .lite-sm-6 {
    width: 49.99%;
  }

  .lite-sm-7 {
    width: 58.33%;
  }

  .lite-sm-8 {
    width: 66.66%;
  }

  .lite-sm-9 {
    width: 74.99%;
  }

  .lite-sm-10 {
    width: 83.33%;
  }

  .lite-sm-11 {
    width: 91.66%;
  }

  .lite-sm-12 {
    width: 100%;
  }

  .lite-sm-offset-1 {
    margin-left: 8.33%;
  }

  .lite-sm-offset-2 {
    margin-left: 16.66%;
  }

  .lite-sm-offset-3 {
    margin-left: 24.99%;
  }

  .lite-sm-offset-4 {
    margin-left: 33.33%;
  }

  .lite-sm-offset-5 {
    margin-left: 41.66%;
  }

  .lite-sm-offset-6 {
    margin-left: 49.99%;
  }

  .lite-sm-offset-7 {
    margin-left: 58.33%;
  }

  .lite-sm-offset-8 {
    margin-left: 66.66%;
  }

  .lite-sm-offset-9 {
    margin-left: 74.99%;
  }

  .lite-sm-offset-10 {
    margin-left: 83.33%;
  }

  .lite-sm-offset-11 {
    margin-left: 91.66%;
  }

  .lite-sm-offset-12 {
    margin-left: 100%;
  }

}

/* Medium */
@media (min-width: 741px) {

  .lite-md-1 {
    width: 8.33%;
  }

  .lite-md-2 {
    width: 16.66%;
  }

  .lite-md-3 {
    width: 24.99%;
  }

  .lite-md-4 {
    width: 33.33%;
  }

  .lite-md-5 {
    width: 41.66%;
  }

  .lite-md-6 {
    width: 49.99%;
  }

  .lite-md-7 {
    width: 58.33%;
  }

  .lite-md-8 {
    width: 66.66%;
  }

  .lite-md-9 {
    width: 74.99%;
  }

  .lite-md-10 {
    width: 83.33%;
  }

  .lite-md-11 {
    width: 91.66%;
  }

  .lite-md-12 {
    width: 100%;
  }

  .lite-md-offset-1 {
    margin-left: 8.33%;
  }

  .lite-md-offset-2 {
    margin-left: 16.66%;
  }

  .lite-md-offset-3 {
    margin-left: 24.99%;
  }

  .lite-md-offset-4 {
    margin-left: 33.33%;
  }

  .lite-md-offset-5 {
    margin-left: 41.66%;
  }

  .lite-md-offset-6 {
    margin-left: 49.99%;
  }

  .lite-md-offset-7 {
    margin-left: 58.33%;
  }

  .lite-md-offset-8 {
    margin-left: 66.66%;
  }

  .lite-md-offset-9 {
    margin-left: 74.99%;
  }

  .lite-md-offset-10 {
    margin-left: 83.33%;
  }

  .lite-md-offset-11 {
    margin-left: 91.66%;
  }

  .lite-md-offset-12 {
    margin-left: 100%;
  }
}

/* Large */
@media (min-width: 992px) {

  .lite-lg-1 {
    width: 8.33%;
  }

  .lite-lg-2 {
    width: 16.66%;
  }

  .lite-lg-3 {
    width: 24.99%;
  }

  .lite-lg-4 {
    width: 33.33%;
  }

  .lite-lg-5 {
    width: 41.66%;
  }

  .lite-lg-6 {
    width: 49.99%;
  }

  .lite-lg-7 {
    width: 58.33%;
  }

  .lite-lg-8 {
    width: 66.66%;
  }

  .lite-lg-9 {
    width: 74.99%;
  }

  .lite-lg-10 {
    width: 83.33%;
  }

  .lite-lg-11 {
    width: 91.66%;
  }

  .lite-lg-12 {
    width: 100%;
  }

  .lite-lg-offset-1 {
    margin-left: 8.33%;
  }

  .lite-lg-offset-2 {
    margin-left: 16.66%;
  }

  .lite-lg-offset-3 {
    margin-left: 24.99%;
  }

  .lite-lg-offset-4 {
    margin-left: 33.33%;
  }

  .lite-lg-offset-5 {
    margin-left: 41.66%;
  }

  .lite-lg-offset-6 {
    margin-left: 49.99%;
  }

  .lite-lg-offset-7 {
    margin-left: 58.33%;
  }

  .lite-lg-offset-8 {
    margin-left: 66.66%;
  }

  .lite-lg-offset-9 {
    margin-left: 74.99%;
  }

  .lite-lg-offset-10 {
    margin-left: 83.33%;
  }

  .lite-lg-offset-11 {
    margin-left: 91.66%;
  }

  .lite-lg-offset-12 {
    margin-left: 100%;
  }
}

/* Extra Large */
@media (min-width: 1200px) {

  .lite-xl-1 {
    width: 8.33%;
  }

  .lite-xl-2 {
    width: 16.66%;
  }

  .lite-xl-3 {
    width: 24.99%;
  }

  .lite-xl-4 {
    width: 33.33%;
  }

  .lite-xl-5 {
    width: 41.66%;
  }

  .lite-xl-6 {
    width: 49.99%;
  }

  .lite-xl-7 {
    width: 58.33%;
  }

  .lite-xl-8 {
    width: 66.66%;
  }

  .lite-xl-9 {
    width: 74.99%;
  }

  .lite-xl-10 {
    width: 83.33%;
  }

  .lite-xl-11 {
    width: 91.66%;
  }

  .lite-xl-12 {
    width: 100%;
  }

  .lite-xl-offset-1 {
    margin-left: 8.33%;
  }

  .lite-xl-offset-2 {
    margin-left: 16.66%;
  }

  .lite-xl-offset-3 {
    margin-left: 24.99%;
  }

  .lite-xl-offset-4 {
    margin-left: 33.33%;
  }

  .lite-xl-offset-5 {
    margin-left: 41.66%;
  }

  .lite-xl-offset-6 {
    margin-left: 49.99%;
  }

  .lite-xl-offset-7 {
    margin-left: 58.33%;
  }

  .lite-xl-offset-8 {
    margin-left: 66.66%;
  }

  .lite-xl-offset-9 {
    margin-left: 74.99%;
  }

  .lite-xl-offset-10 {
    margin-left: 83.33%;
  }

  .lite-xl-offset-11 {
    margin-left: 91.66%;
  }

  .lite-xl-offset-12 {
    margin-left: 100%;
  }
}
