.padding__less-left{
	padding-left: 0;
}

.padding__less{
	padding: 0px;
}

// .nav-container {
// 	margin: 0 auto;
//   width: 100%;
//   padding-left: 2.9375rem;
//   padding-right: 2.9375rem;
// }

// .container__full--left {
// 	padding-left: 0;
// }


/* Resets box sizing across all elements */
html {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
  margin:0px;
  padding:0px;
}
div {
  display: block;
}

/* Standard 12 column grid */
.section__meta{
  padding: 30px 0px;
}

.container__meta {
  margin: 0 auto;
  width: 100%;
  padding-left: 0rem;
  padding-right: 0rem;
}

.container__meta::after {
  display: table;
  clear: both;
  content: "";
}

.container--inline {
  display: inline-grid;
}

.row__meta {
  margin-left: 0rem;
  margin-right: 0rem;
}

.row__meta::after {
  display: table;
  clear: both;
  content: "";
}

.col {
  float: left;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

/*Makes all columns float left and have 100% width */
[class^="col-meta-"], [class*=" col-meta-"]{
  float: left;
  width: 100%;
  position: relative;
  // padding-right: 0.9375rem;
  // padding-left: 0.9375rem;
}

//xs
@media (min-width: 376px) {
  .container__meta {
    max-width: 331px;
  }
}

//small
@media (min-width: 544px) {
  .container__meta {
    max-width: 498px;
  }
}

@media (min-width: 741px) {
  .container__meta {
    max-width: 720px;
  }
}

//large
@media (min-width: 992px) {
  .container__meta {
    max-width: 940px;
  }
}

//xl
@media (min-width: 1200px) {
  .container__meta {
    max-width: 1140px;
  }
}

/* Extra Small */


@media (min-width: 376px) {

  /*body { background-color: deepskyblue; }*/

  .col-meta-xs-1 {
    width: 8.33%;
  }

  .col-meta-xs-2 {
    width: 16.66%;
  }

  .col-meta-xs-3 {
    width: 24.99%;
  }

  .col-meta-xs-4 {
    width: 33.33%;
  }

  .col-meta-xs-5 {
    width: 41.66%;
  }

  .col-meta-xs-6 {
    width: 49.99%;
  }

  .col-meta-xs-7 {
    width: 58.33%;
  }

  .col-meta-xs-8 {
    width: 66.66%;
  }

  .col-meta-xs-9 {
    width: 74.99%;
  }

  .col-meta-xs-10 {
    width: 83.33%;
  }

  .col-meta-xs-11 {
    width: 91.66%
  }

  .col-meta-xs-12 {
    width: 100%;
  }

  .col-meta-xs-offset-1 {
    margin-left: 8.33%;
  }

  .col-meta-xs-offset-2 {
    margin-left: 16.66%;
  }

  .col-meta-xs-offset-3 {
    margin-left: 24.99%;
  }

  .col-meta-xs-offset-4 {
    margin-left: 33.33%;
  }

  .col-meta-xs-offset-5 {
    margin-left: 41.66%;
  }

  .col-meta-xs-offset-6 {
    margin-left: 49.99%;
  }

  .col-meta-xs-offset-7 {
    margin-left: 58.33%;
  }

  .col-meta-xs-offset-8 {
    margin-left: 66.66%;
  }

  .col-meta-xs-offset-9 {
    margin-left: 74.99%;
  }

  .col-meta-xs-offset-10 {
    margin-left: 83.33%;
  }

  .col-meta-xs-offset-11 {
    margin-left: 91.66%;
  }

  .col-meta-xs-offset-12 {
    margin-left: 100%;
  }
}
/* Small */

@media (min-width: 544px) {

  /*body { background-color: yellow; }*/

  .col-meta-sm-1 {
    width: 8.33%;
  }

  .col-meta-sm-2 {
    width: 16.66%;
  }

  .col-meta-sm-3 {
    width: 24.99%;
  }

  .col-meta-sm-4 {
    width: 33.33%;
  }

  .col-meta-sm-5 {
    width: 41.66%;
  }

  .col-meta-sm-6 {
    width: 49.99%;
  }

  .col-meta-sm-7 {
    width: 58.33%;
  }

  .col-meta-sm-8 {
    width: 66.66%;
  }

  .col-meta-sm-9 {
    width: 74.99%;
  }

  .col-meta-sm-10 {
    width: 83.33%;
  }

  .col-meta-sm-11 {
    width: 91.66%;
  }

  .col-meta-sm-12 {
    width: 100%;
  }

  .col-meta-sm-offset-1 {
    margin-left: 8.33%;
  }

  .col-meta-sm-offset-2 {
    margin-left: 16.66%;
  }

  .col-meta-sm-offset-3 {
    margin-left: 24.99%;
  }

  .col-meta-sm-offset-4 {
    margin-left: 33.33%;
  }

  .col-meta-sm-offset-5 {
    margin-left: 41.66%;
  }

  .col-meta-sm-offset-6 {
    margin-left: 49.99%;
  }

  .col-meta-sm-offset-7 {
    margin-left: 58.33%;
  }

  .col-meta-sm-offset-8 {
    margin-left: 66.66%;
  }

  .col-meta-sm-offset-9 {
    margin-left: 74.99%;
  }

  .col-meta-sm-offset-10 {
    margin-left: 83.33%;
  }

  .col-meta-sm-offset-11 {
    margin-left: 91.66%;
  }

  .col-meta-sm-offset-12 {
    margin-left: 100%;
  }

}

/* Medium */

@media (min-width: 741px) {

  /*body { background-color: green; }*/

  .col-meta-md-1 {
    width: 8.33%;
  }

  .col-meta-md-2 {
    width: 16.66%;
  }

  .col-meta-md-3 {
    width: 24.99%;
  }

  .col-meta-md-4 {
    width: 33.33%;
  }

  .col-meta-md-5 {
    width: 41.66%;
  }

  .col-meta-md-6 {
    width: 49.99%;
  }

  .col-meta-md-7 {
    width: 58.33%;
  }

  .col-meta-md-8 {
    width: 66.66%;
  }

  .col-meta-md-9 {
    width: 74.99%;
  }

  .col-meta-md-10 {
    width: 83.33%;
  }

  .col-meta-md-11 {
    width: 91.66%;
  }

  .col-meta-md-12 {
    width: 100%;
  }

  .col-meta-md-offset-1 {
    margin-left: 8.33%;
  }

  .col-meta-md-offset-2 {
    margin-left: 16.66%;
  }

  .col-meta-md-offset-3 {
    margin-left: 24.99%;
  }

  .col-meta-md-offset-4 {
    margin-left: 33.33%;
  }

  .col-meta-md-offset-5 {
    margin-left: 41.66%;
  }

  .col-meta-md-offset-6 {
    margin-left: 49.99%;
  }

  .col-meta-md-offset-7 {
    margin-left: 58.33%;
  }

  .col-meta-md-offset-8 {
    margin-left: 66.66%;
  }

  .col-meta-md-offset-9 {
    margin-left: 74.99%;
  }

  .col-meta-md-offset-1 {
    margin-left: 83.33%;
  }

  .col-meta-md-offset-1 {
    margin-left: 91.66%;
  }

  .col-meta-md-offset-1 {
    margin-left: 100%;
  }
}
/* Large */

@media (min-width: 992px) {

  /*body { background-color: deepskyblue; }*/

  //.container {
  //  width: 992px;
  //}

  .col-meta-lg-1 {
    width: 8.33%;
  }

  .col-meta-lg-2 {
    width: 16.66%;
  }

  .col-meta-lg-3 {
    width: 24.99%;
  }

  .col-meta-lg-4 {
    width: 33.33%;
  }

  .col-meta-lg-5 {
    width: 41.66%;
  }

  .col-meta-lg-6 {
    width: 49.99%;
  }

  .col-meta-lg-7 {
    width: 58.33%;
  }

  .col-meta-lg-8 {
    width: 66.66%;
  }

  .col-meta-lg-9 {
    width: 74.99%;
  }

  .col-meta-lg-10 {
    width: 83.33%;
  }

  .col-meta-lg-11 {
    width: 91.66%;
  }

  .col-meta-lg-12 {
    width: 100%;
  }

  .col-meta-lg-offset-1 {
    margin-left: 8.33%;
  }

  .col-meta-lg-offset-2 {
    margin-left: 16.66%;
  }

  .col-meta-lg-offset-3 {
    margin-left: 24.99%;
  }

  .col-meta-lg-offset-4 {
    margin-left: 33.33%;
  }

  .col-meta-lg-offset-5 {
    margin-left: 41.66%;
  }

  .col-meta-lg-offset-6 {
    margin-left: 49.99%;
  }

  .col-meta-lg-offset-7 {
    margin-left: 58.33%;
  }

  .col-meta-lg-offset-8 {
    margin-left: 66.66%;
  }

  .col-meta-lg-offset-9 {
    margin-left: 74.99%;
  }

  .col-meta-lg-offset-10 {
    margin-left: 83.33%;
  }

  .col-meta-lg-offset-11 {
    margin-left: 91.66%;
  }

  .col-meta-lg-offset-12 {
    margin-left: 100%;
  }
}

/* Extra Large */

@media (min-width: 1200px) {

  /*body { background-color: cyan; }*/

  //.container {
  //  width: 1200px;
  //}

  .col-meta-xl-1 {
    width: 8.33%;
  }

  .col-meta-xl-2 {
    width: 16.66%;
  }

  .col-meta-xl-3 {
    width: 24.99%;
  }

  .col-meta-xl-4{
    width: 33.33%;
  }

  .col-meta-xl-5{
    width: 41.66%;
  }

  .col-meta-xl-6 {
    width: 49.99%;
  }

  .col-meta-xl-7 {
    width: 58.33%;
  }

  .col-meta-xl-8 {
    width: 66.66%;
  }

  .col-meta-xl-9 {
    width: 74.99%;
  }

  .col-meta-xl-10 {
    width: 83.33%;
  }

  .col-meta-xl-11 {
    width: 91.66%;
  }

  .col-meta-xl-12 {
    width: 100%;
  }

  .col-meta-xl-offset-1 {
    margin-left: 8.33%;
  }

  .col-meta-xl-offset-2 {
    margin-left: 16.66%;
  }

  .col-meta-xl-offset-3 {
    margin-left: 24.99%;
  }

  .col-meta-xl-offset-4 {
    margin-left: 33.33%;
  }

  .col-meta-xl-offset-5 {
    margin-left: 41.66%;
  }

  .col-meta-xl-offset-6 {
    margin-left: 49.99%;
  }

  .col-meta-xl-offset-7 {
    margin-left: 58.33%;
  }

  .col-meta-xl-offset-8 {
    margin-left: 66.66%;
  }

  .col-meta-xl-offset-9 {
    margin-left: 74.99%;
  }

  .col-meta-xl-offset-10 {
    margin-left: 83.33%;
  }

  .col-meta-xl-offset-11 {
    margin-left: 91.66%;
  }

  .col-meta-xl-offset-12 {
    margin-left: 100%;
  }
}

// /* Items used for testing */
// .red--box {
//   height: 2em;
//   width: 100%;
//   background-color: red;
//   text-align: center;
//   color: white;
//   font-size: 4rem;
// }

// .blue--box {
//   height: 2em;
//   width: 100%;
//   background-color: #233aff;
//   text-align: center;
//   color: white;
//   font-size: 4rem;
// }

// /* Documentation */

// .col--outline {
//    border: 1px solid #000063;
//    border-radius: 3px;
//    padding: 6px;
//    text-align: center;
//    font-weight: bold;
//    margin-bottom: 5px;
// }
// pre {
//   display: block;
//   padding: 25px;
//   overflow-x: scroll;
//   background-color: $grey-light;
//   border: 1px solid $grey;
//   border-radius: 3px;

// }

// pre code{
//   padding: 0;
//   background: transparent;
//   border-radius: 0;
// }

// code {
//   color: $red;
//   font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
//   font-size: 80%;
//   font-weight: 100;
//   padding: .2rem .4rem;
//   border-radius: 3px;
//   background-color: rgba(208, 13, 45, 0.1);
// }

// .white--box {
//   background-color: $white;
//   height: 3px;
// }

