.parallax { 
    /* The image used */
    // background-image: url('https://pbs.twimg.com/media/DC3Xke3XUAMX7iv.jpg');
    
    /* Set a specific height */
    min-height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}