// Font-Awesome
$fa-font-path: "/meta-ui/dist/fonts/";

// Primary Colors
$black: #0E1821;
$red: #D00D20;

// Secondary Colors
$grey: #B1B3B2;
$grey-light: #FAFAFA;
$grey-clear:#D6D6D6;
$grey-dark: #3F3F3F;
$grey-darker: #55565a;

// Secondary Accent
$white: #FFFFFF;

// Tertiary Colors
$blue: #000063;
$blue-dark: #0E1821;
$yellow: #F8BC35;
$teal: #76C6B3;

// Typography
$font-base: 'Open Sans', sans-serif;
$font: FFDINWebProBold;
$font-banner: FFDINWebProLight;
